*{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #000;
    font-weight: 400;
}
p2{
    font-style: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #000;
    font-weight: 400;
    }
p1{
    font-style: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #000;
    font-weight: 400;
}
